* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF Pro Display;
}

html,
body {
    width: 100vw;
    scroll-behavior: smooth;
    // 
    color: white;

}

main {
    overflow: hidden;
    background: #0f0d0d;
}

ul {
    list-style: none;
}

a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

@import './components/variables';
@import './components/base';
@import './components/loading';
@import './components/customCursor.scss';
@import './components/flexbox';
@import './components/backdropfilter';
@import './components/navber';
@import './components/section';
@import './components/home';
@import './components/collection';
@import './components/earbuds-section';
@import './components/laptopsection';
@import './components/pre-order-now';
@import './components/footer'