* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SF Pro Display;
}

html,
body {
  width: 100vw;
  scroll-behavior: smooth;
  color: white;
}

main {
  overflow: hidden;
  background: #0f0d0d;
}

ul {
  list-style: none;
}

a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: "montserrat-latin-900-normal";
  src: url("../fonts/montserrat-latin-900-normal.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat-latin-800-normal";
  src: url("../fonts/montserrat-latin-800-normal.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat-latin-700-normal";
  src: url("../fonts/montserrat-latin-700-normal.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat-latin-600-normal";
  src: url("../fonts/montserrat-latin-600-normal.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat-latin-500-normal";
  src: url("../fonts/montserrat-latin-500-normal.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat-latin-400-normal";
  src: url("../fonts/montserrat-latin-400-normal.ttf") format("truetype");
}
.launch-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #111;
  z-index: 9999;
}

.loading-screen {
  position: absolute;
  inset: 0;
  top: -10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  z-index: 9999;
}

.counter {
  font-size: 5rem;
  font-weight: bold;
  color: #00ffcc;
}

:root {
  --background: #0e1116;
  --white: #ffffff;
  --accent: #1bf8c7;
  --gray: #818a91;
  --green: #1bf8c7;
  --font-primary: "Helvetica Neue", sans-serif;
}

.custom-cursor {
  position: fixed;
  width: 90px;
  height: 90px;
  background-color: transparent;
  border: 1.5px solid var(--white);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.cursor-dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--white);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.trail-segment {
  position: fixed;
  width: 25px;
  height: 25px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 80%);
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
}

.display {
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9997;
}

.display h1 {
  font-size: 2rem;
  color: var(--accent);
  letter-spacing: 0.15rem;
  line-height: 1.2;
}

.display p {
  font-size: 1.2rem;
  color: var(--gray);
  margin-top: 15px;
}

h1,
p {
  transition: color 0.3s ease-in-out;
}

.display h1:hover {
  color: var(--white);
}

.display p:hover {
  color: var(--accent);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 1rem 4rem;
  z-index: 999;
  background: transparent;
  transition: top 0.4s ease;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .menu-bar {
  display: none;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

a.menu-item {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}
a.menu-item span {
  display: inline-block;
  position: relative;
  transform: translateY(0%);
  will-change: transform;
}
a.menu-item span::after {
  content: attr(data-letter);
  position: absolute;
  top: 100%;
  left: 0;
  color: #fff;
  transform: translateY(0);
}

button {
  position: relative;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background: transparent;
  border-radius: 50px;
  border: 2px solid rgb(62, 62, 255);
  color: white;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

button::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 100px;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgb(62, 62, 255);
  transition: 0.3s all ease-out;
  z-index: -1;
}

button:hover::after {
  top: 50%;
}

main {
  width: 100%;
  height: 100%;
}
main section {
  width: 100%;
  height: 100%;
  padding: 4rem;
}

.title {
  max-width: 30%;
  text-align: center;
  margin: auto;
}
.title h1 {
  font-size: 2rem;
}
.title h1 span {
  color: rgb(62, 62, 255);
}
.title p {
  opacity: 50%;
  line-height: 1rem;
  margin-top: 0.5rem;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: rgb(0, 0, 0);
}
#hero .content {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
#hero .content h1 {
  font-size: 4rem;
  letter-spacing: -1px;
}
#hero .content h1 div {
  display: inline-block;
  width: 150px;
  height: 55px;
  border-radius: 50px;
  border: 1px solid white;
  background-image: url(/assets/images/14.webp);
  background-size: 75%;
  background-position: 50% 10%;
}
#hero .content p {
  opacity: 50%;
}
#hero .content .btn-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
#hero .content .btn-container button {
  position: relative;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background: transparent;
  border-radius: 50px;
  border: 2px solid rgb(62, 62, 255);
  color: white;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
#hero .content .btn-container button::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 100px;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgb(62, 62, 255);
  transition: 0.3s all ease-out;
  z-index: -1;
}
#hero .content .btn-container button:hover::after {
  top: 50%;
}
#hero .images {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .images img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  z-index: 9;
}
#hero .images .background {
  position: absolute;
  width: 500px;
  height: 500px;
  background: rgb(62, 62, 255);
  border-radius: 50%;
  filter: blur(50px);
  opacity: 50%;
}
@keyframes blob {
  0% {
    transform: scale(1);
    border-radius: 50%;
  }
  25% {
    transform: scale(1.1, 0.9);
    border-radius: 45% 55% 60% 40%;
  }
  50% {
    transform: scale(0.95, 1.05);
    border-radius: 60% 40% 45% 55%;
  }
  75% {
    transform: scale(1.05, 0.95);
    border-radius: 50% 60% 40% 50%;
  }
  100% {
    transform: scale(1);
    border-radius: 50%;
  }
}

#des {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1rem auto;
  position: relative;
}
#des .des-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  border-radius: 1rem;
  background: rgba(17, 17, 17, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.6px);
  -webkit-backdrop-filter: blur(18.6px);
  border: 1px solid rgba(17, 17, 17, 0.02);
}
#des .des-container h2,
#des .des-container h3 {
  width: 30%;
}
#des .des-container h3 {
  border-left: 0.2rem solid white;
  padding: 0.5rem 1.5rem;
}
#des .des-container .center {
  text-align: center;
}
#des .des-container .center .users {
  position: relative;
  width: 6rem;
  height: 3rem;
  display: flex;
  align-items: center;
}
#des .des-container .center .users img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background: white;
}
#des .des-container .center .users img:nth-child(1) {
  position: absolute;
  right: 0.5rem;
}
#des .watch-preview {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23rem;
  margin-left: -19%;
}
#des .watch-preview .circle {
  --width: 600px;
  --height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width, 200px);
  height: var(--height, 200px);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
#des .watch-preview .circle .logo {
  position: absolute;
  background-color: #fff;
  background: url(/assets/images/image\(6\).webp);
  background-size: cover;
  width: 350px;
  height: 350px;
  border-radius: 100%;
}
#des .watch-preview .circle .text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 15s linear infinite;
  -webkit-animation: rotateText 15s linear infinite;
}
#des .watch-preview .circle .text .char {
  position: absolute;
  left: 50%;
  font-size: 1.1em;
  transform-origin: 0 calc(var(--width, 350px) / 2);
}
@keyframes rotateText {
  0% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

#des {
  min-height: 100vh;
  padding: 4rem 2rem;
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: 1rem auto;
}
#des .des-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  border-radius: 1rem;
  background: rgba(91, 90, 90, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.6px);
  -webkit-backdrop-filter: blur(18.6px);
  border: 1px solid rgba(17, 17, 17, 0.02);
}
#des .des-container .elem-text {
  color: #4e4d4d;
}
#des .des-container .elem-text span {
  color: #4e4d4d;
  transition: color 0.3s ease;
}
#des .des-container h2,
#des .des-container h3 {
  width: 40%;
}
#des .des-container h3 {
  border-left: 0.2rem solid white;
  padding: 0.5rem 1.5rem;
}
#des .des-container .center {
  text-align: center;
}
#des .des-container .center .users {
  position: relative;
  width: 6rem;
  height: 3rem;
  display: flex;
  align-items: center;
}
#des .des-container .center .users img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background: white;
}
#des .des-container .center .users img:nth-child(1) {
  position: absolute;
  right: 0.5rem;
}
#des .circle {
  --width: 600px;
  --height: 600px;
  position: absolute;
  width: var(--width, 200px);
  height: var(--height, 200px);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#des .circle .logo {
  position: absolute;
  background-color: #fff;
  background: url(/assets/images/image\(6\).webp);
  background-size: cover;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
#des .circle .text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: rotateText 15s linear infinite;
  z-index: 3;
}
#des .circle .text .char {
  position: absolute;
  left: 50%;
  font-size: 1.1em;
  transform-origin: 0 calc(var(--width, 350px) / 2);
}
@keyframes rotateText {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

#features {
  position: relative;
}
#features .watch-grid {
  width: 100%;
  height: 80vh;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;
  align-items: center;
  padding: 2rem;
  color: white;
}
#features .features {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
}
#features .feature img {
  width: 40px;
  margin-bottom: 0.5rem;
}
#features .watches {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#features .watches .background {
  position: absolute;
  width: 500px;
  height: 500px;
  background: rgb(62, 62, 255);
  border-radius: 50%;
  filter: blur(50px);
  opacity: 50%;
}
@keyframes blob {
  0% {
    transform: scale(1);
    border-radius: 50%;
  }
  25% {
    transform: scale(1.1, 0.9);
    border-radius: 45% 55% 60% 40%;
  }
  50% {
    transform: scale(0.95, 1.05);
    border-radius: 60% 40% 45% 55%;
  }
  75% {
    transform: scale(1.05, 0.95);
    border-radius: 50% 60% 40% 50%;
  }
  100% {
    transform: scale(1);
    border-radius: 50%;
  }
}
#features .watches .background {
  width: 400px;
  height: 400px;
}
#features .watches img {
  height: 250px;
  aspect-ratio: 2/3;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 9;
}

#experience {
  position: relative;
  height: 80%;
  padding: 4rem 0;
  height: 80vh;
}
#experience .graphic {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
#experience .graphic .circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgb(62, 62, 255);
  filter: blur(50px);
  opacity: 60%;
  animation: blob 10s linear infinite;
  z-index: 1;
}
#experience .graphic .circle:nth-child(1) {
  top: 10%;
  left: -5%;
}
#experience .graphic .circle:nth-child(2) {
  bottom: 0%;
  right: -5%;
}
#experience .experience-container {
  padding: 4rem;
}
#experience .experience-container .title h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
#experience .experience-container .title h4 div {
  width: 20%;
  height: 2px;
  border-radius: 1rem;
  background: rgb(62, 62, 255);
}
#experience .experience-container .experiences {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
#experience .experience-container .experiences .experience-card {
  width: 30%;
  padding: 1rem;
  display: flex;
  align-items: start;
  gap: 0.5rem;
  border-radius: 1rem;
  z-index: 99;
}
#experience .experience-container .experiences .experience-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#experience .experience-container .experiences .experience-card .content h3 {
  margin-bottom: 1.5rem;
}
#experience .experience-container .experiences .experience-card .content p {
  opacity: 50%;
}

#ad {
  padding: 0 4rem;
  position: relative;
}
#ad .ad-container .title h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
#ad .ad-container .title h4 div {
  width: 20%;
  height: 2px;
  border-radius: 1rem;
  background: rgb(62, 62, 255);
}
#ad .ad-container .video-container {
  width: 100%;
  height: 500px;
  margin-top: 5rem;
}
#ad .ad-container .video-container video {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

#feature-review .features {
  width: 80%;
  margin: 3rem auto;
}
#feature-review .features .feature-card {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.505);
  cursor: pointer;
  position: relative;
}
#feature-review .features .feature-card .overly {
  width: 100%;
  height: 100%;
  background-color: #3d3dd1;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  z-index: 1;
  transition: all 0.5s ease;
}
#feature-review .features .feature-card h2 {
  z-index: 2;
  transition: all 0.4s ease;
}
#feature-review .features .feature-card h3 {
  width: 40px;
  height: 40px;
  text-align: center;
  align-content: center;
  border: 3px solid rgba(255, 255, 255, 0.29);
  border-radius: 50%;
  z-index: 2;
  transition: transform 0.5s ease;
}
#feature-review .features .feature-card h3:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}
#feature-review .features .feature-card h3:last-child i {
  display: inline-block;
  transition: transform 0.5s ease;
}
#feature-review .features .feature-card img {
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  z-index: 2;
}
#feature-review .features .feature-card:hover .overly {
  transform: scaleY(1);
  transition: all 0.5s ease;
}
#feature-review .features .feature-card:hover img {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.5s ease;
  opacity: 1;
}
#feature-review .features .feature-card:hover h3:first-child {
  transform: rotate(360deg);
  transition: all 0.5s ease;
}
#feature-review .features .feature-card:hover h3:last-child {
  transform: translateX(10px) rotate(180deg);
  transition: all 0.5s ease;
}

#tech {
  width: 100%;
  padding: 5rem 0;
  background: black;
}
#tech .tech-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  flex-wrap: wrap;
}
#tech .tech-container .tech-img {
  width: 45%;
}
#tech .tech-container .tech-img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
#tech .tech-container .content {
  width: 50%;
  padding: 2rem;
  color: white;
}
#tech .tech-container .content h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: white;
}
#tech .tech-container .content .label-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#tech .tech-container .content .label-container .label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0);
  color: white;
  font-size: 1.2rem;
}
#tech .tech-container .content .label-container .label:nth-child(1) {
  background: crimson;
}
#tech .tech-container .content .label-container .label:nth-child(2) {
  background: salmon;
}
#tech .tech-container .content .label-container .label:nth-child(3) {
  background: wheat;
  color: black;
}

#marquee {
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
}
#marquee .marquee {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
}
#marquee .marquee .marquee-item {
  display: flex;
  align-items: center;
  font-size: 5rem;
  animation: marquee 10s linear infinite;
}
#marquee .marquee .marquee-item p {
  font-size: 1rem;
}
#marquee .marquee .marquee-item img {
  width: 100px;
}
#marquee .marquee .marquee-item li {
  margin: 0 1rem;
}
#marquee .marquee .marquee-item li:nth-child(1) {
  border: 2px solid white;
  padding: 1rem 10rem;
  border-radius: 10rem;
}
#marquee .marquee .marquee-item li:nth-child(2) {
  border: 2px solid white;
  padding: 1rem 5rem;
  border-radius: 10rem;
}
#marquee .lower-marquee .marquee-item {
  animation-name: marquee2;
}
#marquee .marquee::before,
#marquee .marquee::after {
  position: absolute;
  content: "";
  width: 15%;
  height: 100%;
  background: linear-gradient(to right, #111 50%, transparent);
  top: 0;
  z-index: 9;
}
#marquee .marquee::before {
  background: linear-gradient(to right, #111 50%, transparent);
  left: 0;
}
#marquee .marquee::after {
  background: linear-gradient(to left, #111 50%, transparent);
  right: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.testimonial-container {
  width: 100%;
  max-width: 56rem;
  padding: 2rem;
  margin: auto;
}
.testimonial-container .testimonial-grid {
  display: grid;
  gap: 5rem;
}
@media (min-width: 768px) {
  .testimonial-container .testimonial-grid {
    grid-template-columns: 1fr 1fr;
  }
}
.testimonial-container .image-container {
  position: relative;
  width: 100%;
  height: 24rem;
  perspective: 1000px;
}
.testimonial-container .image-container .testimonial-image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.testimonial-container .testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}
.testimonial-container .testimonial-content .name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.25rem;
}
.testimonial-container .testimonial-content .designation {
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 2rem;
}
.testimonial-container .testimonial-content .quote {
  font-size: 1.125rem;
  color: #fff;
  line-height: 1.75;
}
.testimonial-container .testimonial-content .arrow-buttons {
  display: flex;
  gap: 1rem;
  padding-top: 3rem;
}
@media (min-width: 768px) {
  .testimonial-container .testimonial-content .arrow-buttons {
    padding-top: 0;
  }
}
.testimonial-container .testimonial-content .arrow-buttons .arrow-button {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: #2e2e2e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}
.testimonial-container .testimonial-content .arrow-buttons .arrow-button:hover {
  background-color: #00a6fb;
}
.testimonial-container .testimonial-content .arrow-buttons .arrow-button i {
  font-size: 1.5rem;
  transition: fill 0.3s;
}
.testimonial-container .testimonial-content .arrow-buttons .arrow-button i:hover {
  fill: #ffffff;
}

#connect {
  margin-top: 4rem;
}
#connect .connect-container .title h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
#connect .connect-container .title h4 div {
  width: 20%;
  height: 2px;
  border-radius: 1rem;
  background: rgb(62, 62, 255);
}
#connect .connect-container .contact {
  margin-top: 4rem;
}
#connect .connect-container .contact .bg {
  position: relative;
  width: 100%;
  height: 30rem;
}
#connect .connect-container .contact .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  z-index: 9;
}
#connect .connect-container .contact .bg .background {
  position: absolute;
  width: 500px;
  height: 500px;
  background: rgb(62, 62, 255);
  border-radius: 50%;
  filter: blur(50px);
  opacity: 50%;
}
@keyframes blob {
  0% {
    transform: scale(1);
    border-radius: 50%;
  }
  25% {
    transform: scale(1.1, 0.9);
    border-radius: 45% 55% 60% 40%;
  }
  50% {
    transform: scale(0.95, 1.05);
    border-radius: 60% 40% 45% 55%;
  }
  75% {
    transform: scale(1.05, 0.95);
    border-radius: 50% 60% 40% 50%;
  }
  100% {
    transform: scale(1);
    border-radius: 50%;
  }
}
#connect .connect-container .contact .bg .background {
  opacity: 20%;
  top: 0;
  left: 30%;
  z-index: 1;
}

h1,
p {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.cursor {
  position: fixed;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 1.5px solid var(--white);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.cursor-dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--white);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.trail-segments {
  position: fixed;
  pointer-events: none;
  z-index: 9998;
}

.trail-segment {
  position: fixed;
  width: 25px;
  height: 25px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 80%);
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
}

a:hover ~ .cursor,
button:hover ~ .cursor,
.menu-item:hover ~ .cursor {
  width: 50px;
  height: 50px;
  border-color: var(--green);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}

/* Display Section Styling */
.display {
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9997;
}

.display h1 {
  font-size: 2rem;
  color: var(--accent);
  letter-spacing: 0.15rem;
  line-height: 1.2;
}

.display p {
  font-size: 1.2rem;
  color: var(--gray);
  margin-top: 15px;
}

h1,
p {
  transition: color 0.3s ease-in-out;
}

.display h1:hover {
  color: var(--white);
}

.display p:hover {
  color: var(--accent);
}

.collection {
  width: 100%;
  padding: 4rem 2rem;
  text-align: center;
  color: white;
  position: relative;
}
.collection .animPara {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.collection .animPara .word {
  display: inline-block;
  font-size: 2rem;
  margin-right: 1rem;
  overflow: hidden;
}
.collection .animPara .word span {
  display: inline-block;
  font-size: 2rem;
  transform: translateY(100%);
  opacity: 0;
}
.collection .cursor-picture {
  position: absolute;
  opacity: 0;
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  pointer-events: none;
  transform: scale(0.8);
  z-index: 20;
}
.collection .bg-overly,
.collection .sec-bg-overly {
  width: 35rem;
  height: 35rem;
  background-color: rgb(62, 62, 255);
  border-radius: 50%;
  opacity: 50%;
  filter: blur(50px);
  position: absolute;
}
.collection .bg-overly {
  top: 47%;
  right: -23%;
  opacity: 50%;
}
.collection .sec-bg-overly {
  left: -22%;
  bottom: 48%;
  z-index: -1;
  opacity: 55%;
}
.collection .title {
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  font-family: "montserrat-latin-700-normal";
}
.collection .main-heading {
  padding: 1rem;
  margin: auto;
  position: relative;
  font-family: "montserrat-latin-500-normal";
}
.collection .main-heading .animPara {
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.collection .main-heading .animPara .word {
  display: inline-block;
  font-size: 2rem;
  margin-right: 1rem;
  overflow: hidden;
}
.collection .main-heading .animPara .word span {
  display: inline-block;
  font-size: 2rem;
  transform: translateY(100%);
  opacity: 0;
}
.collection .main-heading .imgdiv {
  pointer-events: none;
  position: absolute;
  width: 200px !important;
  height: 200px !important;
  overflow: hidden;
  z-index: 99;
  overflow: hidden;
}
.collection .main-heading .imgdiv img {
  transform: translateY(100%);
  opacity: 0;
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 550px) {
  .collection .main-heading .main-heading {
    width: 90vw;
  }
}

.products-section {
  width: 100%;
  height: 100vh;
  position: relative;
}
.products-section .bg-overly,
.products-section .sec-bg-overly {
  width: 35rem;
  height: 35rem;
  background-color: rgb(62, 62, 255);
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;
}
.products-section .bg-overly {
  top: -19%;
  right: -15%;
}
.products-section .sec-bg-overly {
  left: -4%;
  bottom: -10%;
}

.vdiv {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  -webkit-clip-path: circle(var(--clip) at 50% 50%);
          clip-path: circle(var(--clip) at 50% 50%);
}

.vdiv video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.circle i {
  font-size: 60px !important;
  color: #fff;
}

.smartphone-section {
  padding: 2rem;
  color: #fff;
  position: relative;
  text-align: center;
  font-family: "montserrat-latin-500-normal";
}
.smartphone-section .bg-overly,
.smartphone-section .sec-bg-overly {
  width: 35rem;
  height: 35rem;
  background-color: rgb(62, 62, 255);
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;
}
.smartphone-section .bg-overly {
  top: 19%;
  right: -35%;
  z-index: -1;
}
.smartphone-section .sec-bg-overly {
  left: -4%;
  bottom: -10%;
}
.smartphone-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.smartphone-section .card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-items: center;
}
.smartphone-section .card {
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 12px;
  padding: 1rem;
  width: 100%;
  max-width: 25rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  z-index: 9;
}
.smartphone-section .card:hover {
  transform: scale(1.05);
}
.smartphone-section .card img {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.smartphone-section .card .card-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.smartphone-section .card .card-footer .heart {
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}
@media (max-width: 768px) {
  .smartphone-section {
    grid-template-columns: 1fr;
  }
}

.earbuds-section {
  padding: 2rem;
  position: relative;
  width: 100%;
}
.earbuds-section .bg-overly,
.earbuds-section .sec-bg-overly {
  width: 35rem;
  height: 35rem;
  background-color: rgb(62, 62, 255);
  opacity: 50%;
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;
}
.earbuds-section .bg-overly {
  top: -19%;
  z-index: -1;
  right: -15%;
}
.earbuds-section .sec-bg-overly {
  left: -4%;
  bottom: -10%;
}
.earbuds-section .section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 2rem;
  font-family: "montserrat-latin-500-normal";
}
.earbuds-section .earbuds-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
}
@media (max-width: 968px) {
  .earbuds-section .earbuds-grid {
    grid-template-columns: 1fr;
  }
}
.earbuds-section .earbuds-grid .earbuds-card {
  position: relative;
  background: #282933;
  width: 30rem !important;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  z-index: 9;
}
.earbuds-section .earbuds-grid .earbuds-card .product-img {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
  display: block;
}
.earbuds-section .earbuds-grid .earbuds-card button {
  position: relative;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background: transparent;
  border-radius: 50px;
  border: 2px solid rgb(62, 62, 255);
  color: white;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}
.earbuds-section .earbuds-grid .earbuds-card button::after {
  position: absolute;
  content: "";
  width: 200px;
  height: 100px;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgb(62, 62, 255);
  transition: 0.3s all ease-out;
  z-index: -1;
}
.earbuds-section .earbuds-grid .earbuds-card button:hover::after {
  top: 50%;
}
.earbuds-section .earbuds-grid .earbuds-card .heart-icon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.laptop-section {
  height: 100vh;
  font-family: "montserrat-latin-500-normal";
}
.laptop-section .bg-card {
  position: absolute;
  opacity: 0.9;
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  width: 100%;
  height: 100%;
}
.laptop-section .bg-overly,
.laptop-section .sec-bg-overly {
  width: 35rem;
  height: 35rem;
  background-color: rgb(62, 62, 255);
  opacity: 50%;
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;
}
.laptop-section .bg-overly {
  top: -19%;
  right: -15%;
}
.laptop-section .sec-bg-overly {
  left: -4%;
  bottom: -10%;
}
.laptop-section .laptop-member {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}
.laptop-section .laptop-member h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}
.laptop-section .laptop-member .laptop-card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 75vh;
  background-color: #21212C;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  overflow: hidden;
}
@media (max-width: 640px) {
  .laptop-section .laptop-member .laptop-card {
    width: 95%;
    height: 50vh;
  }
}
.laptop-section .laptop-member .laptop-card .laptop-img {
  width: 100%;
  height: 100%;
}
.laptop-section .laptop-member .laptop-card .laptop-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.laptop-section .laptop-member .laptop-card .laptop-info {
  position: absolute;
  bottom: 0;
  left: 2.5rem;
  height: 20vh;
  color: white;
  text-align: left;
}
@media (max-width: 850px) {
  .laptop-section .laptop-member .laptop-card .laptop-info h1 {
    font-size: 2rem !important;
  }
}
@media (max-width: 640px) {
  .laptop-section .laptop-member .laptop-card .laptop-info {
    height: 12vh;
    left: 0.75rem;
  }
}
.laptop-section .laptop-member .laptop-card .laptop-info h3 {
  color: #5AFF00;
  font-size: 1.25rem;
}
@media (max-width: 640px) {
  .laptop-section .laptop-member .laptop-card .laptop-info h3 {
    font-size: 1rem;
  }
}
.laptop-section .laptop-member .laptop-card .laptop-info h1 {
  font-size: 4rem;
}
@media (max-width: 640px) {
  .laptop-section .laptop-member .laptop-card .laptop-info h1 {
    font-size: 2rem;
  }
}
.laptop-section .laptop-member .laptop-card .laptop-info .laptop-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 640px) {
  .laptop-section .laptop-member .laptop-card .laptop-info .laptop-brand {
    gap: 0.5rem;
  }
}
.laptop-section .laptop-member .laptop-card .laptop-info .laptop-brand img {
  height: 1.5rem;
}
@media (max-width: 640px) {
  .laptop-section .laptop-member .laptop-card .laptop-info .laptop-brand img {
    height: 0.75rem;
  }
}
.laptop-section .laptop-member .laptop-card .laptop-info .laptop-brand h4 {
  font-size: 1.125rem;
}
.laptop-section .laptop-member #card-one {
  top: 130%;
}
.laptop-section .laptop-member #card-two {
  top: 230%;
}
.laptop-section .laptop-member #card-three {
  top: 250%;
}
.laptop-section .laptop-member #card-four {
  top: 350%;
}
.laptop-section .laptop-member #card-five {
  top: 450%;
}

.footer {
  background-color: #151515;
  color: #fff;
  padding: 4rem 1rem;
}
.footer .container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer .footer-top {
  text-align: center;
}
.footer .footer-top h2 {
  font-size: 2rem;
  color: rgb(62, 62, 255);
}
.footer .footer-top p {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #ccc;
}
.footer .footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.footer .footer-links .footer-column {
  min-width: 150px;
}
.footer .footer-links .footer-column h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: rgb(62, 62, 255);
}
.footer .footer-links .footer-column ul {
  list-style: none;
  padding: 0;
}
.footer .footer-links .footer-column ul li {
  margin-bottom: 0.5rem;
}
.footer .footer-links .footer-column ul li a {
  text-decoration: none;
  color: #ccc;
  font-size: 0.95rem;
}
.footer .footer-links .footer-column ul li a:hover {
  color: rgb(62, 62, 255);
}
.footer .footer-bottom {
  text-align: center;
  font-size: 0.875rem;
  color: #888;
}