@mixin bg {

    .background {
        position: absolute;
        width: 500px;
        height: 500px;
        background: $p-color;
        border-radius: 50%;
        filter: blur(50px);
        opacity: 50%;
        
    }

    @keyframes blob {
        0% {
            transform: scale(1);
            border-radius: 50%;
        }

        25% {
            transform: scale(1.1, 0.9);
            border-radius: 45% 55% 60% 40%;
        }

        50% {
            transform: scale(0.95, 1.05);
            border-radius: 60% 40% 45% 55%;
        }

        75% {
            transform: scale(1.05, 0.95);
            border-radius: 50% 60% 40% 50%;
        }

        100% {
            transform: scale(1);
            border-radius: 50%;
        }
    }
}

@mixin secTitle {
    h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
        // background: red;

        div {
            width: 20%;
            height: 2px;
            border-radius: 1rem;
            // opacity: 60%;
            background: $p-color;
        }
    }
}

.title {
    max-width: 30%;
    text-align: center;
    margin: auto;

    h1 {
        font-size: 2rem;

        span {
            color: $p-color;
        }
    }

    p {
        opacity: 50%;
        line-height: 1rem;
        margin-top: 0.5rem;
    }
}



#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: rgb(0, 0, 0);

    .content {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        // background: rgba(255, 0, 0, 0.509);

        h1 {
            // align-content: center;
            font-size: 4rem;
            letter-spacing: -1px;

            div {
                display: inline-block;
                width: 150px;
                height: 55px;
                border-radius: 50px;
                border: 1px solid white;
                // background: rgb(1, 94, 255);
                background-image: url(/assets/images/14.webp);
                background-size: 75%;
                background-position: 50% 10%;
            }
        }

        p {
            opacity: 50%;
        }

        .btn-container {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 2rem;
            @import 'button';
        }

    }

    .images {
        position: relative;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        // background: red;
        img {
            width: 90%;
            object-fit: cover;
            aspect-ratio: 1/1;
            z-index: 9;
        }

        @include bg;
    }

}

#des {
    width: 80%;
    height: fit-content;
    margin: 1rem auto;

    .des-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 4rem;
        border-radius: 1rem;
        // background: red;
        background: rgba(17, 17, 17, 0.19);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(18.6px);
        -webkit-backdrop-filter: blur(18.6px);
        border: 1px solid rgba(17, 17, 17, 0.02);

        h2,
        h3 {
            width: 30%;
        }

        h3 {
            border-left: 0.2rem solid white;
            padding: 0.5rem 1.5rem;
        }

        .center {
            text-align: center;

            .users {
                position: relative;
                width: 6rem;
                height: 3rem;
                display: flex;
                align-items: center;

                // background: #00000065;
                img {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    object-fit: cover;
                    background: white;
                }

                img:nth-child(1) {
                    position: absolute;
                    right: 0.5rem;
                }
            }
        }
    }
}

#des {
    min-height: 100vh;
    padding: 4rem 2rem;
    position: relative;
    overflow: hidden;

    width: 80%;
    margin: 1rem auto;

    .des-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 4rem;
        border-radius: 1rem;
        // background: red;
        background: rgba(91, 90, 90, 0.19);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(18.6px);
        -webkit-backdrop-filter: blur(18.6px);
        border: 1px solid rgba(17, 17, 17, 0.02);

        .elem-text {
            color: #4e4d4d;
        }

        .elem-text span {
            color: #4e4d4d;

            transition: color 0.3s ease;
        }

        h2,
        h3 {
            width: 40%;
        }

        h3 {
            border-left: 0.2rem solid white;
            padding: 0.5rem 1.5rem;
        }

        .center {
            text-align: center;

            .users {
                position: relative;
                width: 6rem;
                height: 3rem;
                display: flex;
                align-items: center;

                // background: #00000065;
                img {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    object-fit: cover;
                    background: white;
                }

                img:nth-child(1) {
                    position: absolute;
                    right: 0.5rem;
                }
            }
        }
    }

    .watch-preview {
        width: 100%;
        display: flex;
        align-items: self-end;
        margin-top: 52rem !important;
    }

    // min-height: 600px;

    .circle {
        --width: 600px;
        --height: 600px;
        position: absolute;
        width: var(--width, 200px);
        height: var(--height, 200px);
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .logo {
            position: absolute;
            background-color: #fff;
            background: url(/assets/images/image\(6\).webp);
            background-size: cover;
            width: 350px;
            height: 350px;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }

        .text {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            animation: rotateText 15s linear infinite;
            z-index: 3;

            .char {
                position: absolute;
                left: 50%;
                font-size: 1.1em;
                transform-origin: 0 calc(var(--width, 350px) / 2);
            }
        }

        @keyframes rotateText {
            0% {
                transform: translate(-50%, -50%) rotate(360deg);
            }

            100% {
                transform: translate(-50%, -50%) rotate(0deg);
            }
        }
    }
}


#features {
    position: relative;

    .watch-grid {
        width: 100%;
        height: 80vh;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 2rem;
        align-items: center;
        padding: 2rem;
        color: white;
    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        text-align: center;
    }

    .feature img {
        width: 40px;
        margin-bottom: 0.5rem;
    }

    .watches {
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        @include bg;

        .background {
            width: 400px;
            height: 400px;
        }
    }

    .watches img {
        height: 250px;
        aspect-ratio: 2/3;
        object-fit: cover;
        z-index: 9;
    }

}

#experience {
    position: relative;
    height: 80%;
    padding: 4rem 0;

    .graphic {
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 1;

        .circle {
            position: absolute;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background: $p-color;
            filter: blur(50px);
            opacity: 60%;
            animation: blob 10s linear infinite;
            z-index: 1;
        }

        .circle:nth-child(1) {
            top: 10%;
            left: -5%;
        }

        .circle:nth-child(2) {
            bottom: 10%;
            right: -5%;
        }
    }

    .experience-container {
        padding: $padding;

        .title {
            @include secTitle();
        }

        .experiences {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5rem;

            .experience-card {
                width: 30%;
                padding: 1rem;
                display: flex;
                align-items: start;
                gap: 0.5rem;
                border-radius: 1rem;
                z-index: 99;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .content {
                    h3 {
                        margin-bottom: 1.5rem;
                    }

                    p {
                        opacity: 50%;
                    }
                }
            }
        }

    }
}

#ad {
    padding: 0 4rem;

    .ad-container {
        .title {
            @include secTitle();
        }

        .video-container {
            width: 100%;
            height: 500px;
            margin-top: 5rem;

            video {
                width: 100%;
                height: 100%;
                border-radius: 1rem;
            }
        }
    }
}

#feature-review {
    .features {
        width: 80%;
        margin: 3rem auto;

        .feature-card {
            width: 100%;
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid rgba(255, 255, 255, 0.505);
            cursor: pointer;
            position: relative;

            .overly {
                width: 100%;
                height: 100%;
                background-color: #3d3dd1;
                color: #fff;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: scaleY(0);
                transform-origin: bottom;
                z-index: 1;
                transition: all 0.5s ease;
            }

            h2 {
                z-index: 2;
                transition: all 0.4s ease;
            }

            h3 {
                width: 40px;
                height: 40px;
                text-align: center;
                align-content: center;
                border: 3px solid rgba(255, 255, 255, 0.29);
                border-radius: 50%;
                z-index: 2;
                transition: transform 0.5s ease;
            }

            h3:first-child {
                font-weight: bold;
                font-size: 1.2rem;
            }

            h3:last-child i {
                display: inline-block;
                transition: transform 0.5s ease;
            }

            img {
                width: 250px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                opacity: 0;
                pointer-events: none;
                transition: all 0.5s ease;
                z-index: 2;
            }

            &:hover {
                .overly {
                    transform: scaleY(1);
                    transition: all 0.5s ease;
                }

                img {
                    transform: translate(-50%, -50%) scale(1);
                    transition: all 0.5s ease;
                    opacity: 1;
                }

                h3:first-child {
                    transform: rotate(360deg);
                    transition: all 0.5s ease;
                }

                h3:last-child {
                    transform: translateX(10px) rotate(180deg);
                    transition: all 0.5s ease;
                }
            }
        }
    }
}

#tech {
    width: 100%;
    padding: 5rem 0;
    background: black;

    .tech-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 4rem;
        flex-wrap: wrap;

        .tech-img {
            width: 45%;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .content {
            width: 50%;
            padding: 2rem;
            color: white;

            h2 {
                font-size: 2.5rem;
                margin-bottom: 2rem;
                color: white;
            }

            .label-container {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .label {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem 2rem;
                    clip-path: inset(0 100% 0 0); // Start hidden
                    color: white;
                    font-size: 1.2rem;

                    &:nth-child(1) {
                        background: crimson;
                    }

                    &:nth-child(2) {
                        background: salmon;
                    }

                    &:nth-child(3) {
                        background: wheat;
                        color: black;
                    }
                }
            }
        }
    }
}

#marquee {
    padding: 0;
    height: fit-content;

    .marquee {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem;
        // border: 1px solid rgba(255, 255, 255, 0.489);
        overflow: hidden;
        // background: red;

        .marquee-item {
            display: flex;
            // justify-content: space-evenly;
            align-items: center;
            font-size: 5rem;
            animation: marquee 10s linear infinite;

            p {
                font-size: 1rem;
            }

            img {
                width: 50px;
            }

            li {
                margin: 0 1rem;
            }

            li:nth-child(1) {
                border: 2px solid white;
                padding: 1rem 10rem;
                border-radius: 10rem;
            }

            li:nth-child(2) {
                border: 2px solid white;
                padding: 1rem 5rem;
                border-radius: 10rem;
            }
        }
    }

    .lower-marquee {
        .marquee-item {
            animation-name: marquee2;
        }
    }

    .marquee::before,
    .marquee::after {
        position: absolute;
        content: "";
        width: 15%;
        height: 100%;
        background: linear-gradient(to right, #111 50%, transparent);
        top: 0;
        z-index: 9;
    }

    .marquee::before {
        background: linear-gradient(to right, #111 50%, transparent);
        left: 0;
    }

    .marquee::after {
        background: linear-gradient(to left, #111 50%, transparent);
        right: 0;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes marquee2 {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }
}

.testimonial-container {
    width: 100%;
    max-width: 56rem;
    padding: 2rem;
    margin: auto;

    .testimonial-grid {
        display: grid;
        gap: 5rem;

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .image-container {
        position: relative;
        width: 100%;
        height: 24rem;
        perspective: 1000px;

        .testimonial-image {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1.5rem;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        }
    }

    .testimonial-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;

        .name {
            font-size: 1.5rem;
            font-weight: bold;
            color: #fff;
            margin-bottom: 0.25rem;
        }

        .designation {
            font-size: 0.875rem;
            color: #fff;
            margin-bottom: 2rem;
        }

        .quote {
            font-size: 1.125rem;
            color: #fff;
            line-height: 1.75;
        }

        .arrow-buttons {
            display: flex;
            gap: 1rem;
            padding-top: 3rem;

            @media (min-width: 768px) {
                padding-top: 0;
            }

            .arrow-button {
                width: 1.75rem;
                height: 1.75rem;
                border-radius: 50%;
                background-color: #2e2e2e;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: background-color 0.3s;
                border: none;

                &:hover {
                    background-color: #00a6fb;
                }

                i {
                    font-size: 1.5rem;

                    transition: fill 0.3s;

                    &:hover {
                        fill: #ffffff;
                    }
                }
            }
        }
    }
}








#connect {
    margin-top: 4rem;

    .connect-container {
        .title {
            @include secTitle();
        }

        .contact {
            margin-top: 4rem;

            .bg {
                position: relative;
                width: 100%;
                height: 30rem;

                // background: red;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    z-index: 9;
                }

                @include bg;

                .background {
                    opacity: 20%;
                    top: 0;
                    left: 30%;
                    z-index: 1;

                }

            }
        }
    }
}



h1,
p {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 1.5px solid var(--white);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.cursor-dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--white);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.trail-segments {
    position: fixed;
    pointer-events: none;
    z-index: 9998;
}

.trail-segment {
    position: fixed;
    width: 25px;
    height: 25px;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 0) 80%);
    pointer-events: none;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 9998;
}

// Cursor effects on hover
a,
button,
.menu-item {
    &:hover~.cursor {
        width: 50px;
        height: 50px;
        border-color: var(--green);
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
    }
}

/* Display Section Styling */
.display {
    text-align: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9997;
}

.display h1 {
    font-size: 2rem;
    color: var(--accent);
    letter-spacing: 0.15rem;
    line-height: 1.2;
}

.display p {
    font-size: 1.2rem;
    color: var(--gray);
    margin-top: 15px;
}

h1,
p {
    transition: color 0.3s ease-in-out;
}

.display h1:hover {
    color: var(--white);
}

.display p:hover {
    color: var(--accent);
}
