header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 1rem 4rem;
    z-index: 999;
    background: transparent;
    transition: top 0.4s ease;
  
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  .nav-items {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
  }
  
  a.menu-item {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
  
    span {
      display: inline-block;
      position: relative;
      transform: translateY(0%);
      will-change: transform;
  
      &::after {
        content: attr(data-letter);
        position: absolute;
        top: 100%;
        left: 0;
        color: #fff;
        transform: translateY(0);
      }
    }
  }
  @import './button';
  

.hide {
    top: -100px;
}