$p-color: rgb(62, 62, 255);

$padding: 4rem;
$font-family: SF Pro Display, sans-serif;
$font-size: 2rem;
$font-weight: 500;
$s-color: #ff6600;
$cursor-size: 30px;
$cursor-color: rgba(27, 248, 199, 0.8);
$trail-size: 20px;
$trail-color: rgba(255, 255, 255, 0.3);
$transition-duration: 0.15s;
$trail-duration: 0.4s;
$ease: "power2.out";

